{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier", "unused-imports"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "warn",
    "no-console": 0,
    "linebreak-style": 0,
     "react/forbid-prop-types": 0,
    "no-unused-vars": "off",
    "react/jsx-props-no-spreading":0,
    "eslint-disable-next-line":0,
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}